.hexagonField {
    display:grid;
    // flex-direction: column;
    // flex-wrap: nowrap;
    --s: 100px;  /* size  */
    --m: 1px;    /* margin */
    --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
    white-space: nowrap;
    // margin-left: 100px;
  }
  
  // .singleHexagon {
  //   // font-size: 0; /*disable white space between inline block element */
  // }

  .singleHexagon > div {
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s)*1.1547);
    display:inline-flex;
    font-size:30px;
    font-weight: bold;
    color: antiquewhite;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    // background: burlywood;
    margin-bottom: calc(var(--m) - var(--s)*0.2885);
    align-items: center;
    justify-content: center;
}

.hexagonBG {
    // display: flex;
}


  .wood {
    background-image: url("http://localhost:3000/images/wood.jpg");
  }

  .clay {
    background-image: url("http://localhost:3000/images/clay.jpg");
  }

  .sheep {
    background-image: url("http://localhost:3000/images/sheep.jpg");
    opacity: 0.9;
  }

  .weat {
    background-image: url("http://localhost:3000/images/weat.jpg");
    opacity: 0.8;
    background-blend-mode: lighten;
  }

  .stone {
    background-image: url("http://localhost:3000/images/stone.jpg");
  }

  .desert {
    background-image: url("http://localhost:3000/images/desert.jpg");
  }

  .water {
    background-image: url("http://localhost:3000/images/water.jpg");
  }

  
  .three {
    margin-left: 102px;
  }
  
  .four {
    margin-left: 51px;
  }

  .fourWaters{
    margin-left: 153px;
  }
  
  .hidden {
    color: transparent;
  }

.tableHeader {
  align-self: flex-start;
}

.headerMapName {
  align-self: center;
}
