body {
  background: radial-gradient(
    ellipse at center,
    #ffffff,
    rgb(184, 155, 84) 120%
  );
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  margin-top: 30px;
  align-items: center;
}

/* .shiftLeftElement {
  margin-left: var(--shiftLeft);
} */
